
.contenedor {
    width: 25%;
    position: relative;
}

.carta {
    width: 25vw;
    height: 25vh;
    flex-direction: column;
    text-align: center;
    margin: 10px 0;
    color: white;
    font-weight: bold;
}

.carta img {
    max-width: 16vw;
    max-height: 16vh;
    margin: auto;
    border-radius: 50%;
    border: 2px solid #fff;
}